.idea
.vscode
.venv/
gn/
ncs/
nrfcmdtools/
zephyr-sdk-0.16.*/
.west/
bootloader/
modules/
nrf/
nrfxlib/
test/
./tools/
zephyr/
Beluga/pca10040
Beluga/dwm1001_dev_clion/
Beluga/build*
asm-dumps/
cmake-build-*
build*
docs-venv/
