&pinctrl {
	spi1_default: spi1_default {
		group1 {
			psels = <NRF_PSEL(SPIM_MOSI, 0, 23)>,
					<NRF_PSEL(SPIM_MISO, 0, 24)>,
					<NRF_PSEL(SPIM_SCK, 0, 25)>;
//			psels = <NRF_PSEL(SPIM_MOSI, 0, 28)>,
//					<NRF_PSEL(SPIM_MISO, 0, 4)>,
//					<NRF_PSEL(SPIM_SCK, 0, 3)>;
		};
	};
};

&spi1 {
	compatible = "nordic,nrf-spi";
	status = "okay";
	cs-gpios = <&gpio0 22 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
	//cs-gpios = <&gpio0 29 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
	pinctrl-0 = <&spi1_default>;
	pinctrl-names = "default", "sleep";
//	dw1000_spi: dw1000@0 {
//		compatible = "decawave,dw1000";
//		reg = <0x0>;
//		int-gpios = <&gpio0 30 0>;
//		reset-gpios = <&gpio0 31 0>;
//		spi-max-frequency = <8000000>;
//	};
	nrf_radio_fem_spi: nrf21540-fem-spi@0 {
		compatible = "nordic,nrf21540-fem-spi";
		reg = <0x0>;
		spi-max-frequency = <8000000>;
	};
};
&spi2 {
	status = "disabled";
};

/ {
	nrf_radio_fem: nrf21540-fem {
		compatible = "nordic,nrf21540-fem";
		mode-gpios = <&gpio0 13 0>;
		rx-en-gpios = <&gpio0 14 0>;
		ant-sel-gpios = <&gpio0 15 0>;
		tx-en-gpios = <&gpio0 16 0>;
		pdn-gpios = <&gpio0 20 0>;
		spi-if = <&nrf_radio_fem_spi>;
		supply-voltage-mv = <3000>;
		status = "okay";
	};
};

//

&spi1_sleep {
	group1 {
		psels = <NRF_PSEL(SPIM_SCK, 0, 3)>,
				<NRF_PSEL(SPIM_MOSI, 0, 28)>,
				<NRF_PSEL(SPIM_MISO, 0, 4)>;
	};
};

&spi1_default {
	group1 {
		psels = <NRF_PSEL(SPIM_SCK, 0, 3)>,
				<NRF_PSEL(SPIM_MOSI, 0, 28)>,
				<NRF_PSEL(SPIM_MISO, 0, 4)>;
	};
};

/ {
	aliases {
		wake-source = &button0;
	};

	nrf_radio_fem: sky66112-11 {
		compatible = "skyworks,sky66112-11", "generic-fem-two-ctrl-pins";
		ctx-gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>;
		crx-gpios = <&gpio0 12 GPIO_ACTIVE_HIGH>;
		tx-gain-db = <22>;
	};

	sky_fem_gpios: amp_control {
		compatible = "amp-control";
		ant-sel-gpios = <&gpio0 31 0>;
		csd-gpios = <&gpio0 30 GPIO_ACTIVE_LOW>;
		cps-gpios = <&gpio0 29 GPIO_ACTIVE_HIGH>;
		chl-gpios = <&gpio0 10 GPIO_ACTIVE_HIGH>;
	};
};

&radio {
	fem = <&nrf_radio_fem>;
};
