menu "Thread Configurations"

config ENABLE_COMMANDS
    bool "Enable commands for Beluga"
    default y

config BELUGA_COMMANDS_PRIO
    int "Priority for commands thread"
    depends on ENABLE_COMMANDS
    default 7

config COMMANDS_STACK_SIZE
    int "Stack size (bytes) for commands thread"
    depends on ENABLE_COMMANDS
    default 2048

config ENABLE_LIST
    bool "Enable the list thread for Beluga"
    default y

config BELUGA_LIST_PRIO
    int "Priority for list thread"
    depends on ENABLE_LIST
    default 7

config LIST_STACK_SIZE
    int "Stack size (bytes) for list thread"
    depends on ENABLE_LIST
    default 3640

config ENABLE_RANGING
    bool "Enable the ranging thread for Beluga"
    default y

config BELUGA_RANGING_PRIO
    int "Priority for ranging thread"
    depends on ENABLE_RANGING
    default 7

config RANGING_STACK_SIZE
    int "Stack size (bytes) for ranging thread"
    depends on ENABLE_RANGING
    default 1240

config ENABLE_MONITOR
    bool "Enable the monitor thread in Beluga"
    default y

config BELUGA_MONITOR_PRIO
    int "Priority for monitor thread"
    depends on ENABLE_MONITOR
    default 7

config MONITOR_STACK_SIZE
    int "Stack size (bytes) for monitor task"
    depends on ENABLE_MONITOR
    default 2940

config ENABLE_RESPONDER
    bool "Enable the responder thread in Beluga"
    default y

config BELUGA_RESPONDER_PRIO
    int "Priority for responder thread"
    depends on ENABLE_RESPONDER
    default 8

config RESPONDER_STACK_SIZE
    int "Stack size (bytes) for responder task"
    depends on ENABLE_RESPONDER
    default 1536

endmenu  # Thread Configurations
