/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>
#include "beluga-pinctrl.dtsi"

/ {
	model = "beluga";
	compatible = "WiseLab,beluga";

	chosen {
		zephyr,console = &cdc_acm_uart0;
		zephyr,shell-uart = &cdc_acm_uart0;
		zephyr,uart-mcumgr = &cdc_acm_uart0;
		zephyr,bt-mon-uart = &cdc_acm_uart0;
		zephyr,bt-c2h-uart = &cdc_acm_uart0;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
	};

	leds {
		compatible = "gpio-leds";
		led0: led_0 {
			gpios = <&gpio0 28 GPIO_ACTIVE_LOW>;
			label = "Amplifier Indicator";
		};
		led1: led_1 {
			gpios = <&gpio0 3 GPIO_ACTIVE_LOW>;
			label = "Power Indicator";
		};
		led2: led_2 {
			gpios = <&gpio0 30 GPIO_ACTIVE_LOW>;
			label = "UWB Indicator";
		};
		led3: led_3 {
			gpios = <&gpio0 26 GPIO_ACTIVE_LOW>;
			label = "BLE Indicator";
		};
	};

	serial_leds {
		compatible = "gpio-leds";
		tx_led: tx_led0 {
			gpios = <&gpio1 8 GPIO_ACTIVE_LOW>;
			label = "TX LED";
		};
		rx_led: rx_led0 {
			gpios = <&gpio1 9 GPIO_ACTIVE_LOW>;
			label = "RX LED";
		};
	};

	aliases {
		led0 = &led0;
		led1 = &led1;
		led2 = &led2;
		led3 = &led3;
		bootloader-led0 = &led0;
		watchdog = &wdt0;
		spi-flash0 = &mx25r64;
	};

	nrf_radio_fem: sky66112-11 {
		compatible = "skyworks,sky66112-11", "generic-fem-two-ctrl-pins";
		ctx-gpios = <&gpio1 11 0>;
		crx-gpios = <&gpio1 6 0>;
		tx-gain-db = <22>;
	};

	sky_fem_gpios: amp_control {
		compatible = "amp-control";
		ant-sel-gpios = <&gpio1 7 0>;
		csd-gpios = <&gpio1 4 GPIO_ACTIVE_LOW>;
		cps-gpios = <&gpio1 10 GPIO_ACTIVE_HIGH>;
		chl-gpios = <&gpio1 12 0>;
	};
};

&radio {
	fem = <&nrf_radio_fem>;
};

&uicr {
	gpio-as-nreset;
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
	gpio-reserved-ranges = <0 2>, <4 7>, <18 1>, <27 1>;
	gpio-line-names = "XL1", "XL2", "SPI1 MISO", "PWR Indicator", "QSPI CS",
					  "QSPI DIO3", "QSPI DIO1", "QSPI DIO0", "QSPI DIO2", "",
					  "", "P0.11", "P0.12", "P0.13", "ACCEL SDO", "P0.15",
					  "ACCEL SDA/SDI", "P0.17", "RESET", "ACCEL INT2", "P0.20",
					  "ACCEL INT1", "P0.22", "ACCEL CLK", "P0.24", "P0.25",
					  "BLE Indicator", "QSPI CLK", "Amplifier Indicator", "SPI1 MOSI",
					  "UWB Indicator", "DW RESET";
};

&gpio1 {
	status = "okay";
	gpio-line-names = "VDD ADJ", "P1.01", "ACCEL CS", "P1.03", "CSD", "P1.05", "CRX",
					  "ANT SEL", "TXLED", "RXLED", "CPS", "CTX", "CHL", "DW IRQ", "DW CS",
					  "SPI1 CLK";
};

&i2c0 {
	compatible = "nordic,nrf-twi";
	status = "okay";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";

	clock-frequency = <I2C_BITRATE_FAST>;
	lis2dh12: lis2dh12@19 {
		compatible = "st,lis2dh12", "st,lis2dh";
		reg = <0x19>;
		irq-gpios = <&gpio0 21 GPIO_ACTIVE_HIGH>,
					<&gpio0 19 GPIO_ACTIVE_HIGH>;
	};
};

&spi1 {
	compatible = "nordic,nrf-spi";
	status = "okay";
	cs-gpios = <&gpio1 14 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
	pinctrl-0 = <&spi1_default>;
	pinctrl-1 = <&spi1_sleep>;
	pinctrl-names = "default", "sleep";
	dw1000_spi: dw1000@0 {
		compatible = "decawave,dw1000";
		spi-max-frequency = <DT_FREQ_M(20)>;
		int-gpios = <&gpio1 13 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio0 31 GPIO_ACTIVE_LOW>;
		status = "okay";
		reg = <0x0>;
	};
};

&qspi {
	status = "okay";
	pinctrl-0 = <&qspi_default>;
	pinctrl-1 = <&qspi_sleep>;
	pinctrl-names = "default", "sleep";
	mx25r64: mx25r6435f@0 {
		status = "disabled";
		compatible = "nordic,qspi-nor";
		reg = <0>;
		/* MX25R64 supports only pp and pp4io */
		writeoc = "pp4io";
		/* MX25R64 supports all readoc options */
		readoc = "read4io";
		sck-frequency = <8000000>;
		jedec-id = [c2 28 17];
		sfdp-bfp = [
						   e5 20 f1 ff  ff ff ff 03  44 eb 08 6b  08 3b 04 bb
						   ee ff ff ff  ff ff 00 ff  ff ff 00 ff  0c 20 0f 52
						   10 d8 00 ff  23 72 f5 00  82 ed 04 cc  44 83 68 44
						   30 b0 30 b0  f7 c4 d5 5c  00 be 29 ff  f0 d0 ff ff
				   ];
		size = <67108864>;
		has-dpd;
		t-enter-dpd = <10000>;
		t-exit-dpd = <35000>;
	};
};

&uart0 {
	compatible = "nordic,nrf-uarte";
	status = "disabled";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-1 = <&uart0_sleep>;
	pinctrl-names = "default", "sleep";
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 DT_SIZE_K(48)>;
		};

		slot0_partition: partition@c000 {
			label = "image-0";
			reg = <0x0000c000 DT_SIZE_K(472)>;
		};

		slot1_partition: partition@82000 {
			label = "image-1";
			reg = <0x00082000 DT_SIZE_K(472)>;
		};

		/*
		 * The flash starting at 0x000f8000 and ending at
		 * 0x000fffff is reserved for use by the application.
		 */

		/*
		 * Storage partition will be used by FCB/LittleFS/NVS
		 * if enabled.
		 */
		storage_partition: partition@f8000 {
			label = "storage";
			reg = <0x000f8000 DT_SIZE_K(32)>;
		};
	};
};

zephyr_udc0: &usbd {
	compatible = "nordic,nrf-usbd";
	status = "okay";

	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};