menu "Beluga UWB Settings"

config ENABLE_BELUGA_UWB
    bool "Enables DecaDriver library for UWB"
    default y

config TX_ANT_DLY
    int "Transmitter Antenna Delay [DEPRECATED]"
    default 16436
    depends on ENABLE_BELUGA_UWB
    help
        The sum of the values is the TX to RX antenna delay.
        This should be experimentally determined by a calibration process.
        This configuration is deprecated as it should be something that
        is calibrated and saved in flash for each device.

config RX_ANT_DLY
    int "Receiver Antenna Delay [DEPRECATED]"
    default 16436
    depends on ENABLE_BELUGA_UWB
    help
        The sum of the values is the TX to RX antenna delay.
        This should be experimentally determined by a calibration process.
        This configuration is deprecated as it should be something that
        is calibrated and saved in flash for each device.

config UWB_BOOT_BANNER
    bool "UWB Boot Banner"
    default n
    select PRINTK
    select EARLY_CONSOLE
    depends on ENABLE_BELUGA_UWB

config UWB_INIT_RX_TIMEOUT
    int "Initiator receive timeout (ms)"
    default 2700
    depends on ENABLE_BELUGA_UWB

config UWB_RESP_RX_DELAY
    int "Responder receive delay (ms)"
    default 0
    depends on ENABLE_BELUGA_UWB

config UWB_RESP_RX_TIMEOUT
    int "Responder receive timeout (ms)"
    default 0
    depends on ENABLE_BELUGA_UWB

menuconfig UWB_FILTER_RANGES
    bool "Filter UWB neighbors by range"
    default n
    help
        Exclude neighbors that are within a certain distance and beyond a certain distance

if UWB_FILTER_RANGES
config UWB_RANGE_FILTER_LOWER_BOUND
    int "Lower bound of the range filtering"
    default -5
    help
        This is the lower bound of the range filtering. If a lower bound is not desired,
        then set it to a negative value.

config UWB_RANGE_FILTER_UPPER_BOUND
    int "Upper bound of the range filtering"
    default -5
    help
        This is the upper bound of the range filtering. If an upper bound is not desired,
        then set it to a negative value.
endif

config POLL_RX_TO_RESP_TX_DLY
    int "Poll RX to Response Delay in microseconds"
    default 1500
    help
        Critical value for porting to different processors. For slower platforms where
        the SPI is at a slower speed or the processor is operating at a lower frequency
        (Comparing to STM32F, SPI of 18MHz and Processor internal 72MHz)this value needs
        to be increased. Knowing the exact time when the responder is going to send its
        response is vital for time of flight calculation. The specification of the time
        of respnse must allow the processor enough time to do its calculations and put
        the packet in the Tx buffer. So more time required for a slower system (processor).

config DWT_API_ERROR_CHECK
    bool "Have DecaDriver check for errors"
    default n

config UWB_ENABLE_PA
    bool "Allow the UWB external to be toggled on"
    default y

config MAX_POLLING_RATE
    int "Maximum Polling Rate (ms)"
    default 500

config POLLING_REFRESH
    int "Refresh Period while Polling"
    default 100
    help
        This determines the maximum amount of ms the ranging task can sleep for; However,
        it is important to note that this is different than the polling rate. The polling
        rate is what determines how often the system should poll the distances for other
        nodes while this parameter indicates the maximum amount of time the polling thread
        can sleep for, thus allowing for the ranging thread to update the count for polling
        neighbors and suspending/releasing the responder task independently from the polling
        rate.

config POLLING_REFRESH_PERIOD
    int
    default 100 if POLLING_REFRESH < 100
    default 500 if POLLING_REFRESH > 500
    default POLLING_REFRESH

endmenu