menu "Logger configurations"

comment "All of these configurations depend on LOG"

menu "Serial"
menu "Serial Comms"
module = COMMS
module-str = Comms module
source "subsys/logging/Kconfig.template.log_config"
endmenu

menu "Comms Backend"
module = COMMS_SERIAL
module-str = Comms Backend module
source "subsys/logging/Kconfig.template.log_config"
endmenu
endmenu

menu "App LEDs"
module = APP_LEDS
module-str = App LEDs
source "subsys/logging/Kconfig.template.log_config"
endmenu

menu "AT Commands"
module = AT_COMMANDS
module-str = AT commands
source "subsys/logging/Kconfig.template.log_config"
endmenu

menu "Beluga Message"
module = BELUGA_MESSAGE
module-str = Beluga message
source "subsys/logging/Kconfig.template.log_config"
endmenu

menu "BLE Application"
module = BLE_APP
module-str = BLE application
source "subsys/logging/Kconfig.template.log_config"
endmenu

menu "Debug"
module = BELUGA_DEBUG
module-str = Beluga debugging
source "subsys/logging/Kconfig.template.log_config"
endmenu

menu "Initiator"
module = INITIATOR
module-str = Initiator
source "subsys/logging/Kconfig.template.log_config"
endmenu

menu "List Monitor"
module = LIST_MONITOR
module-str = List monitor
source "subsys/logging/Kconfig.template.log_config"
endmenu

menu "Neighbor Listing"
module = NEIGHBOR_LISTING
module-str = Neighbor listing module
source "subsys/logging/Kconfig.template.log_config"
endmenu

menu "Main Application"
module = BELUGA_MAIN
module-str = Beluga main
source "subsys/logging/Kconfig.template.log_config"
endmenu

menu "Power Manager"
module = POWER_MANAGER
module-str = Power manager
source "subsys/logging/Kconfig.template.log_config"
endmenu

menu "Range Extension"
module = RANGE_EXTENSION
module-str = Range extension
source "subsys/logging/Kconfig.template.log_config"
endmenu

menu "Ranging"
module = RANGING_MODULE
module-str = ranging module
source "subsys/logging/Kconfig.template.log_config"
endmenu

menu "Responder"
module = RESPONDER
module-str = Responder
source "subsys/logging/Kconfig.template.log_config"
endmenu

menu "Serial LEDs"
module = SERIAL_LED
module-str = Serial LEDs
source "subsys/logging/Kconfig.template.log_config"
endmenu

menu "Settings"
module = SETTINGS_MODULE
module-str = settings
source "subsys/logging/Kconfig.template.log_config"
endmenu

menu "SPI module"
module = SPI_MODULE
module-str = SPI module
source "subsys/logging/Kconfig.template.log_config"
endmenu

menu "Voltage Regulator"
module = VOLTAGE_REG_MODULE
module-str = Voltage regulator module
source "subsys/logging/Kconfig.template.log_config"
endmenu

menu "Watchdog"
module = WATCHDOG_MODULE
module-str = watchdog module
source "subsys/logging/Kconfig.template.log_config"
endmenu

endmenu