mainmenu "Beluga application"

menu "Beluga Configurations"

rsource "./Kconfig.beluga_threads"

rsource "./Kconfig.uwb"

choice "BELUGA_LED_INDICATOR_CHOICE"
    prompt "LEDs are used to indicate states for"
    default BELUGA_LEDS

config BELUGA_BLE_LEDS
    bool "BLE states"

config BELUGA_LEDS
    bool "Beluga states"

endchoice

config BELUGA_RANGE_EXTENSION
    bool "Enable range extension for Beluga"
    default n

config BELUGA_NETWORK_SIZE
    int "The number of nodes in the network"
    default 12

config BELUGA_USE_ACCEL
    bool "Use the accelerometer to wakeup from deep sleep"
    select SENSOR
    default n

config BELUGA_GATT
    bool "Beluga GATT service [EXPERIMENTAL]"
    default n
    select EXPERIMENTAL

rsource "./Kconfig.beluga_debug"

config WDT_MAX_WINDOW
    int "Maximum window of the watchdog timer"
    default 2000

endmenu

source "Kconfig.zephyr"
