source "Kconfig.zephyr"

config ENABLE_BELUGA_THREADS
    bool "Enables threads for Beluga"
    default y

config ENABLE_COMMANDS
    bool "Enables commands for Beluga"
    default n

config ENABLE_LIST
    bool "Enables the list thread for Beluga"
    default n

config ENABLE_RANGING
    bool "Enables the ranging thread for Beluga"
    default n

config ENABLE_MONITOR
    bool "Enables the monitor thread in Beluga"
    default n

config ENABLE_RESPONDER
    bool "Enables the responder thread in Beluga"
    default n

config BELUGA_COMMANDS_PRIO
    int "Priority for commands thread"
    depends on ENABLE_COMMANDS
    default 8

config BELUGA_LIST_PRIO
    int "Priority for list thread"
    depends on ENABLE_LIST
    default 8

config BELUGA_RANGING_PRIO
    int "Priority for ranging thread"
    depends on ENABLE_RANGING
    default 8

config BELUGA_MONITOR_PRIO
    int "Priority for monitor thread"
    depends on ENABLE_MONITOR
    default 8

config BELUGA_RESPONDER_PRIO
    int "Priority for responder thread"
    depends on ENABLE_RESPONDER
    default 7

config COMMANDS_STACK_SIZE
    int "Stack size (bytes) for commands thread"
    depends on ENABLE_COMMANDS
    default 1024

config LIST_STACK_SIZE
    int "Stack size (bytes) for list thread"
    depends on ENABLE_LIST
    default 1024

config RANGING_STACK_SIZE
    int "Stack size (bytes) for ranging thread"
    depends on ENABLE_RANGING
    default 1024

config MONITOR_STACK_SIZE
    int "Stack size (bytes) for monitor task"
    depends on ENABLE_MONITOR
    default 1024

config RESPONDER_STACK_SIZE
    int "Stack size (bytes) for responder task"
    depends on ENABLE_RESPONDER
    default 1024

config ENABLE_BELUGA_UWB
    bool "Enables DecaDriver library for UWB"
    default y

config BELUGA_LEDS
    bool "Enables the LED driver for Beluga"
    default n

config BELUGA_BLE_LEDS
    bool "Use the LEDs to indicate BLE states"
    default n

config WDT_MAX_WINDOW
    int "Maximum window of the watchdog timer"
    default 2000

config DEBUG_BELUGA_CLOCK
    bool "Debug oscillating crystals"
    default n

config BELUGA_RANGE_EXTENSION
    bool "Enable range extension for Beluga"
    default n

config BELUGA_NETWORK_SIZE
    int "The number of nodes in the network"
    default 12

config BELUGA_RESET_REASON
    bool "Print the reset reason"
    select PRINTK
    select HWINFO
    default n

config BELUGA_DUMP_CORE
    bool "Dump the core on crashes"
    select DEBUG_COREDUMP
#     imply DEBUG_COREDUMP_BACKEND_LOGGING
#     imply DEBUG_COREDUMP_MEMORY_DUMP_MIN

config BELUGA_USE_ACCEL
    bool "Use the accelerometer to wakeup from deep sleep"
    default n

config BELUGA_USE_SPI2
    bool "Ability to send SPI messages on SPI channel 2"
    default n
