menu "Beluga UWB Settings"

config ENABLE_BELUGA_UWB
    bool "Enables DecaDriver library for UWB"
    default y

config TX_ANT_DLY
    int "Transmitter Antenna Delay [DEPRECATED]"
    default 16436
    depends on ENABLE_BELUGA_UWB
    help
        The sum of the values is the TX to RX antenna delay.
        This should be experimentally determined by a calibration process.
        This configuration is deprecated as it should be something that
        is calibrated and saved in flash for each device.

config RX_ANT_DLY
    int "Receiver Antenna Delay [DEPRECATED]"
    default 16436
    depends on ENABLE_BELUGA_UWB
    help
        The sum of the values is the TX to RX antenna delay.
        This should be experimentally determined by a calibration process.
        This configuration is deprecated as it should be something that
        is calibrated and saved in flash for each device.

config UWB_BOOT_BANNER
    bool "UWB Boot Banner"
    default n
    select PRINTK
    select EARLY_CONSOLE
    depends on ENABLE_BELUGA_UWB

config UWB_INIT_RX_TIMEOUT
    int "Initiator receive timeout (ms)"
    default 2700
    depends on ENABLE_BELUGA_UWB

config UWB_RESP_RX_DELAY
    int "Responder receive delay (ms)"
    default 0
    depends on ENABLE_BELUGA_UWB

config UWB_RESP_RX_TIMEOUT
    int "Responder receive timeout (ms)"
    default 0
    depends on ENABLE_BELUGA_UWB

menuconfig UWB_FILTER_RANGES
    bool "Filter UWB neighbors by range"
    default n
    help
        Exclude neighbors that are within a certain distance and beyond a certain distance

if UWB_FILTER_RANGES
config UWB_RANGE_FILTER_LOWER_BOUND
    int "Lower bound of the range filtering"
    default -5
    help
        This is the lower bound of the range filtering. If a lower bound is not desired,
        then set it to a negative value.

config UWB_RANGE_FILTER_UPPER_BOUND
    int "Upper bound of the range filtering"
    default -5
    help
        This is the upper bound of the range filtering. If an upper bound is not desired,
        then set it to a negative value.
endif

endmenu