// Copyright (c) 2024 Nordic Semiconductor ASA
// SPDX-License-Identifier: Apache-2.0

/dts-v1/;
#include <nordic/nrf52832_qfaa.dtsi>
#include "beluga2_nrf52832-pinctrl.dtsi"
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
	model = "Beluga2";
	compatible = "wiselab,beluga2";

	chosen {
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,uart-mcumgr = &uart0;
		zephyr,bt-mon-uart = &uart0;
		zephyr,bt-c2h-uart = &uart0;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
	};

	leds {
		compatible = "gpio-leds";
		led0 {
			label = "led0";
			gpios = <&gpio0 12 GPIO_ACTIVE_LOW>;
		};

		led1: led1 {
			gpios = <&gpio0 11 GPIO_ACTIVE_LOW>;
			label = "led1";
		};

		led2: led2 {
			gpios = <&gpio0 8 GPIO_ACTIVE_LOW>;
			label = "led2";
		};

		led3: led3 {
			gpios = <&gpio0 7 GPIO_ACTIVE_LOW>;
			label = "led3";
		};
	};

	nrf_radio_fem: nrf21540-fem {
		compatible = "nordic,nrf21540-fem";
		tx-en-gpios = <&gpio0 22 GPIO_ACTIVE_HIGH>;
		rx-en-gpios = <&gpio0 24 GPIO_ACTIVE_HIGH>;
		pdn-gpios = <&gpio0 20 GPIO_ACTIVE_HIGH>;
		ant-sel-gpios = <&gpio0 23 GPIO_ACTIVE_HIGH>;
		mode-gpios = <&gpio0 25 GPIO_ACTIVE_HIGH>;
		spi-if = <&nrf_radio_fem_spi>;
		supply-voltage-mv = <3300>;
	};

	zephyr,user {
		J1.27-gpios = <&gpio0 6 0>;
		J1.26-gpios = <&gpio0 7 0>;
		J1.25-gpios = <&gpio0 8 0>;
		J1.5-gpios = <&gpio0 9 0>;
		J1.4-gpios = <&gpio0 10 0>;
		J1.19-gpios = <&gpio0 13 0>;
	};
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&uart0 {
	compatible = "nordic,nrf-uarte";
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-1 = <&uart0_sleep>;
	pinctrl-names = "default", "sleep";
};

&i2c0 {
	compatible = "nordic,nrftwi";
	status = "okay";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";
	lis2dh12: lis2dh12@19 {
		compatible = "st,lis2dh12";
		reg = <0x19>;
		label = "lis2dh12";
		anym-on-int1;
		status = "okay";
		irq-gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>;
	};
};

&spi1 {
	compatible = "nordic,nrf-spi";
	status = "okay";
	cs-gpios = <&gpio0 31 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
	pinctrl-0 = <&spi1_default>;
	pinctrl-1 = <&spi1_sleep>;
	pinctrl-names = "default", "sleep";

	dw1000_spi: dw1000@0 {
		compatible = "decawave,dw1000";
		reg = <0x0>;
		int-gpios = <&gpio0 26 0>;
		reset-gpios = <&gpio0 30 0>;
		spi-max-frequency = <20000000>;
	};
};

&spi2 {
	compatible = "nordic,nrf-spi";
	status = "okay";
	cs-gpios = <&gpio0 16 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
	pinctrl-0 = <&spi2_default>;
	pinctrl-1 = <&spi2_sleep>;
	pinctrl-names = "default", "sleep";
	nrf_radio_fem_spi: nrf21540-fem-spi@0 {
		compatible = "nordic,nrf21540-fem-spi";
		reg = <0x0>;
		spi-max-frequency = <8000000>;
	};
};

&radio {
	fem = <&nrf_radio_fem>;
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x0 0xc000>;
		};
		slot0_partition: partition@c000 {
			label = "image-0";
			reg = <0xc000 0x32000>;
		};
		slot1_partition: partition@3e000 {
			label = "image-1";
			reg = <0x3e000 0x32000>;
		};
		scratch_partition: partition@70000 {
			label = "image-scratch";
			reg = <0x70000 0xa000>;
		};
		storage_partition: partition@7a000 {
			label = "storage";
			reg = <0x7a000 0x6000>;
		};
	};
};
